.pageTitle {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
    font-size: 3rem;
    color: #61dafb;
}

.supportInfoBox {
    text-align: center;
    color: #aaa;
    max-width: 600px;

    margin: 1rem auto 4rem;
    line-height: 1.6;
    padding: 1.5rem;
    padding-bottom: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.supportInfoText {
    margin-bottom: 1rem;
    color: #fff;
}

.supportInfoDetails {
    margin-bottom: 0;
    font-size: 0.85rem;
    color: #aaa;
}