#root {
    width: 100%;
    min-height: 100vh;
}

h1, h2 {
    text-align: center;
}

.page-wide {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 2rem 4rem 4rem;
}

.gui-section {
    background: rgba(255, 255, 255, 0.06);
    padding: 3.5rem;
    border-radius: 14px;
    margin-bottom: 3rem;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}











