#root {
  width: 100%;
    min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo-header {
    background-image: url('./assets/logo.png');

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 300px;
    height: 150px;
    margin: 2rem auto 0;
}

h1, h2 {
    text-align: center;
}

.page-wide {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 2rem 4rem 4rem;
}

.gui-section {
    background: rgba(255, 255, 255, 0.06);
    padding: 3.5rem;
    border-radius: 14px;

    margin-bottom: 3rem;

    font-size: 1.1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


input[type="range"] {
    width: 100%;
    height: 14px;
    margin-top: 1rem;
}

button {
    padding: 1.2em 2em;
    font-size: 1.2rem;
    border-radius: 12px;
}

.navbar {
    background-color: rgba(26, 26, 46, 0.9); /* dunkler, transparenter Hintergrund passend zum Gradient */
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s, text-shadow 0.3s;
}

.navbar a:hover {
    color: #61dafb;
    text-shadow: 0 0 6px #61dafb;
}











